*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f4f6f8;
}

/* HEADER */

header{
    background-color: #1f4fa3;
    color: white;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.usuario a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

/* MAIN */

main{
    width: 90%;
    margin: auto;
    margin-top: 60px;
}

/* TEXTO */

.boas-vindas{
    text-align: center;
    margin-bottom: 50px;
}

.boas-vindas h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.boas-vindas p{
    font-size: 18px;
    color: gray;
}

/* CARDS */

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    width: 250px;
    padding: 30px;
    text-align: center;

    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card h2{
    margin-bottom: 30px;
    font-size: 22px;
}

.card button{
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #1f4fa3;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.card button:hover{
    background-color: #163b7d;
}